body {
  background-color: #6699ff;
  background-image: url("evening.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
#wrapper {
  height: 575px;
  display: grid;
  grid-template-columns: 1fr;
  /* border: solid yellow; */
}
#clock {
  /* width: 300px; */
  /* height: 100px; */
  /* border: solid; */
  font-style: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 250px;
  text-align: center;
  display: block;
  color: white;
}
#greeting {
  height: 100px;
  /* border: solid orange; */
  /* background-color: teal; */
  font-style: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 100px;
  text-align: center;
  display: block;
  color: white;
}
@media all and (max-width: 480px){
  #clock {
    font-size: 50px;
  }
}
@media all and (min-width: 481px) and (max-width: 768px){
  #clock {
    font-size: 100px;
  }
}
